html {
  font-size: 10px; /* px means "pixels": the 
                    base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be 
                                          the rest of the output 
                                          you got from Google fonts */
}
h1{
  font-size: 60px;
  text-align: center;
}

h2, h3, h4{
  text-align: center;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #00532F;
}

body {
  width: 600px;
  margin: 0 auto; /*prima valoare e pentru sus si jos, 
                  iar a doua valoare e pt stanga dreapta*/
  background-color: rgba(0, 255, 179, 0.897);
  padding: 0 20px 20px 20px; /*top, right, bottom, left*/
  border: 5px solid white; /*width, style and color*/
}
h1 {
  margin: 0;
  padding: 20px 0;    
  color: rgb(247, 195, 26);
  text-shadow: 3px 3px 1px black;/*horizontal offset,  
                                    vertical offset, 
                                    blur radius, 
                                    base color of the shadow*/
}
img {
  display: block;
  margin: 0 auto;
}